* {
  margin: 0;
  padding: 0;
}

#main-nav {
  width: 100%;
  height: 9dvh;
  background-color: white;
  position: sticky;
  top: 0%;
  z-index: 1;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
}

.logo {
  width: 10%;
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo p:nth-child(1) {
  color: rgb(73, 97, 97);
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 24px;
  margin-top: 15px;
}

.logo p:nth-child(2) {
  color: rgb(73, 97, 97);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 15px;
  line-height: 24px;
}

.links {
  width: 50%;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  display: flex;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #5b6a6a;
}

.contact {
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact img {
  width: 6%;
}

.contact button {
  background-color: rgb(20, 168, 182);
  color: white;
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  border-radius: 6%;
  border: none;
}

.hamBurger {
  display: none;
}

#info-nav {
  width: 100%;
  height: 7dvh;
  border: 1px solid rgb(230, 230, 230);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-tabs {
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-tabs p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.iconImg {
  width: 5%;
  margin-left: 2%;
}

#mountainImg {
  width: 100%;
  height: 39dvh;
  position: relative;
}

.imgText {
  text-align: center;
  position: absolute;
  color: white;
  padding: 20px;
  top: 70%;
  left: 50%;
  background-color: rgba(34, 36, 36, 0.6);
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
}

.imgText p:nth-child(1) {
  font-family: "IBM Plex", serif;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
}

.imgText p:nth-child(2) {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#mountainImg img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}

#sections {
  /* border: 1px solid rgb(230, 230, 230); */
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#sections > p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 13px;
  line-height: 20px;
  color: #5b6a6a;
}

#mainContainer {
  width: 80%;
  margin: auto;
  display: flex;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
}

#call {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#call p:nth-child(1) {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 15px;
  line-height: 23px;
}

#call p:nth-child(2) {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: rgb(20, 168, 182);
}

#call p:nth-child(2):hover {
  color: #077e86;
}

#mainContainer p {
  color: #5b6a6a;
  padding-right: 70px;
}

.leftInner {
  width: 70%;
}

.heading {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 24px;
  color: #1c1e1e;
}

.rightInner {
  width: 30%;
  display: grid;
  grid-template-rows: 100px auto 100px 100px 100px;
  gap: 10px;
  padding: 10px;
}

#enquiry {
  display: none;
}

#enquiryForm {
  background-color: rgb(55, 62, 62);
  padding: 30px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 15px;
  line-height: 23px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form button {
  background-color: rgb(20, 168, 182);
  color: white;
  font-size: 16px;
  padding: 10px;
}

.inputs {
  width: 100%;
  font-size: 16px;
  color: black;
  padding: 5px;
}
.rightInnerDiv {
  border: 1px solid rgb(230, 230, 230);
}

.textDescription span {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

#liveChat {
  background-color: rgb(230, 230, 230);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: rgb(20, 168, 182);
  padding: 30px;
  margin-top: auto;
}

#reqBrochure {
  background-color: rgb(230, 230, 230);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  padding: 30px;
  margin-top: auto;
  color: rgb(20, 168, 182);
}

@media screen and (max-width: 768px) {
  #upper-nav {
    display: none;
  }

  #main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
  }

  .logo {
    width: 30%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .logo p:nth-child(1) {
    color: rgb(73, 97, 97);
    font-family: "Lilita One", sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 24px;
  }

  .logo p:nth-child(2) {
    color: rgb(73, 97, 97);
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 350;
    font-size: 10px;
    line-height: 24px;
  }

  .contact {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .contact img {
    width: 20px;
  }

  .contact button {
    display: none;
  }

  #info-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #info-nav div:nth-child(2) {
    display: none;
  }
  #info-nav div:nth-child(3) {
    display: none;
  }
  #info-nav div:nth-child(4) {
    display: none;
  }

  #mainContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
  }

  .leftInner {
    width: 100%;
  }

  #mainContainer p {
    color: #5b6a6a;
    padding-right: 0px;
  }

  #mountainImg {
    width: 100%;
    height: 28dvh;
    position: relative;
  }

  .rightInner {
    width: 90%;
    display: grid;
    grid-template-rows: 100px 100px auto 100px 100px 100px;
    gap: 10px;
    padding: 10px;
    margin: auto;
  }

  .links {
    display: none;
  }

  .imgText {
    width: 80%;
    text-align: center;
    position: absolute;
    color: white;
    padding: 20px;
    top: 70%;
    left: 50%;
    background-color: rgba(34, 36, 36, 0.6);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3px);
  }

  .imgText p:nth-child(1) {
    font-family: "IBM Plex", serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 33px;
  }

  .imgText p:nth-child(2) {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  #sections {
    display: none;
  }

  .heading {
    font-size: 23px;
    line-height: 28px;
  }

  .textDescription {
    font-size: 15px;
    line-height: 23px;
  }

  #call p:nth-child(1) {
    font-size: 15px;
  }

  #call p:nth-child(2) {
    font-size: 15px;
  }

  #toggleButton {
    color: rgb(20, 168, 182);
    width: max-content;
    margin: auto;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
  }

  #enquiry {
    display: flex;
    background-color: rgb(230, 230, 230);
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: rgb(20, 168, 182);
    padding: 30px;
    margin-top: auto;
    justify-content: space-between;
  }

  #enquiryForm {
    display: none;
  }

  .hamBurger {
    background-color: black;
    width: 40px;
    height: 34px;
    display: flex;
    flex-direction: column;
    border-radius: 30% 30% 30% 30%;
  }

  .hamBurger span {
    color: white;
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: white;
  }
}
